#banner_back {
	border: 1px solid rgb(230, 0, 0); width: 98%; height: 80px; margin-left: 10px; display: table; position: relative; min-width: 1000px; background-repeat: repeat-x;
}
#banner_back .banner_front {
	left: 1050px; width: 261px; height: 80px; margin-top: 0px; display: table; position: absolute;
}
#text_banner {
	left: -90px; width: 88%; margin-top: 4px; margin-left: 5px; float: left; display: table;
}
