input {
	border-width: 1px;
}
textarea {
	border-width: 1px;
}
select {
	border-width: 1px;
}
input {
	text-indent: 2px;
}
input.button {
	border-width: 1px;
}
.postbody {
	line-height: 18px;
}
a:link {
	color: rgb(68, 83, 149); text-decoration: none;
}
a:active {
	color: rgb(68, 83, 149); text-decoration: none;
}
a:visited {
	color: rgb(68, 83, 149); text-decoration: none;
}
a:hover {
	color: rgb(227, 80, 0); text-decoration: none;
}
a.cat {
	color: rgb(255, 255, 255); text-decoration: none;
}
a.cat:hover {
	color: rgb(241, 241, 241); text-decoration: none;
}
a.copyright {
	color: rgb(68, 68, 68); text-decoration: none;
}
a.copyright:hover {
	color: rgb(0, 0, 0); text-decoration: none;
}
a.forumlink {
	color: rgb(68, 83, 149); text-decoration: none;
}
a.forumlink:hover {
	color: rgb(227, 80, 0); text-decoration: none;
}
a.gen {
	color: rgb(68, 83, 149); text-decoration: none;
}
a.genmed {
	color: rgb(68, 83, 149); text-decoration: none;
}
a.gensmall {
	color: rgb(68, 83, 149); text-decoration: none;
}
a.gen:hover {
	color: rgb(227, 80, 0); text-decoration: none;
}
a.genmed:hover {
	color: rgb(227, 80, 0); text-decoration: none;
}
a.gensmall:hover {
	color: rgb(227, 80, 0); text-decoration: none;
}
a.mainmenu {
	color: rgb(68, 83, 149); text-decoration: none;
}
a.mainmenu:hover {
	color: rgb(227, 80, 0); text-decoration: none;
}
a.nav {
	color: rgb(68, 83, 149); text-decoration: none;
}
a.nav:hover {
	text-decoration: none;
}
a.postlink:link {
	color: rgb(68, 83, 149); text-decoration: none;
}
a.postlink:visited {
	color: rgb(68, 83, 149); text-decoration: none;
}
a.postlink:hover {
	color: rgb(227, 80, 0); text-decoration: none;
}
a.topictitle:link {
	color: rgb(68, 83, 149); text-decoration: none;
}
a.topictitle:visited {
	color: rgb(84, 147, 180); text-decoration: none;
}
a.topictitle:hover {
	color: rgb(227, 80, 0); text-decoration: none;
}
a.promo {
	background: inherit; color: rgb(230, 0, 0); text-decoration: none;
}
a.promo:hover {
	background: inherit; color: rgb(170, 0, 1); text-decoration: underline;
}
body {
	
}
font {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;
}
th {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;
}
td {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;
}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;
}
hr {
	border-width: 1px 0px 0px; border-style: solid; border-color: rgb(209, 215, 220); height: 0px;
}
input {
	text-indent: 2px;
}
input {
	font: 11px/normal Verdana, Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size-adjust: none; font-stretch: normal;
}
textarea {
	font: 11px/normal Verdana, Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size-adjust: none; font-stretch: normal;
}
select {
	font: 11px/normal Verdana, Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size-adjust: none; font-stretch: normal;
}
input.button {
	color: rgb(0, 0, 0); font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; background-color: rgb(239, 239, 239);
}
input.liteoption {
	font-weight: normal; background-color: rgb(250, 250, 250);
}
input.mainoption {
	font-weight: bold; background-color: rgb(250, 250, 250);
}
input.post {
	background-color: rgb(255, 255, 255);
}
textarea.post {
	background-color: rgb(255, 255, 255);
}
select {
	background-color: rgb(255, 255, 255);
}
td.cat {
	padding: 3px; height: 25px;
}
th.cat {
	padding: 3px; height: 25px;
}
td.row1 {
	background: repeat-x rgb(245, 245, 245);
}
td.row2 {
	background: repeat-x rgb(236, 237, 243);
}
td.spacerow {
	height: 1px;
}
td.rowpic {
	background-repeat: repeat-y; background-color: rgb(255, 255, 255);
}
th {
	height: 25px; color: rgb(241, 241, 241); font-size: 11px; font-weight: bold; background-color: rgb(68, 83, 149);
}
.bodyline {
	border: 1px solid rgb(152, 170, 177); background-color: rgb(255, 255, 255);
}
.cat {
	color: rgb(255, 255, 255); font-size: 12px; font-weight: bold;
}
.code {
	border: 1px solid rgb(209, 215, 220); color: rgb(0, 102, 0); font-family: Courier, "Courier New", sans-serif; font-size: 13px; background-color: rgb(250, 250, 250);
}
.copyright {
	color: rgb(68, 68, 68); letter-spacing: -1px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;
}
.forumline {
	border: 2px solid rgb(208, 213, 231); background-color: rgb(255, 255, 255);
}
.forumlink {
	color: rgb(68, 83, 149); font-size: 12px; font-weight: bold;
}
.gen {
	font-size: 12px;
}
.gen {
	color: rgb(0, 0, 0);
}
.genmed {
	color: rgb(0, 0, 0);
}
.gensmall {
	color: rgb(0, 0, 0);
}
.genmed {
	font-size: 11px;
}
.gensmall {
	font-size: 10px;
}
.helpline {
	background-color: rgb(222, 227, 231);
}
.mainbody {
	padding: 9px;
}
.mainmenu {
	color: rgb(0, 0, 0); font-size: 11px;
}
.maintitle {
	color: rgb(0, 0, 0); line-height: 120%; font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif; font-size: 22px; font-weight: bold; text-decoration: none;
}
h1 {
	color: rgb(0, 0, 0); line-height: 120%; font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif; font-size: 22px; font-weight: bold; text-decoration: none;
}
h2 {
	color: rgb(0, 0, 0); line-height: 120%; font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif; font-size: 22px; font-weight: bold; text-decoration: none;
}
.name {
	color: rgb(0, 0, 0); font-size: 11px;
}
.nav {
	color: rgb(0, 0, 0); font-size: 11px; font-weight: bold;
}
.postbody {
	font-size: 12px;
}
.postdetails {
	color: rgb(0, 0, 0); font-size: 10px;
}
.quote {
	border: 1px solid rgb(209, 215, 220); color: rgb(68, 68, 68); line-height: 125%; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; background-color: rgb(250, 250, 250);
}
.topictitle {
	color: rgb(0, 0, 0); font-size: 11px; font-weight: bold;
}
.highlight {
	font-weight: bold; background-color: yellow;
}
.legend-box {
	border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
td.activeTab {
	text-align: center; color: rgb(239, 239, 239); vertical-align: top;
}
td.inactiveTab {
	text-align: center; color: rgb(239, 239, 239); vertical-align: top;
}
td.activeTab {
	font-weight: bold; background-color: rgb(102, 153, 204);
}
td.inactiveTab {
	cursor: pointer; background-color: rgb(239, 239, 239);
}
div.inactive1 {
	background: url("../images/ulborder.gif") no-repeat left top; height: 4px;
}
div.inactive2 {
	background: url("../images/urborder.gif") no-repeat right top; padding: 0px 4px; height: 4px;
}
div.inactive3 {
	border-top-color: rgb(198, 206, 215); border-top-width: 1px; border-top-style: solid;
}
div.inactiveTabText {
	padding: 0px 1em 2px; color: blue; border-right-color: rgb(198, 206, 215); border-left-color: rgb(198, 206, 215); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; white-space: nowrap;
}
div.inactiveTabText a {
	color: blue; text-decoration: none;
}
div.active1 {
	background: url("../images/ul.gif") no-repeat left top; height: 4px;
}
div.active2 {
	background: url("../images/ur.gif") no-repeat right top; padding: 1px 6px; height: 4px;
}
div.active3 {
	
}
div.activeTabText {
	padding: 0px 1em 2px; color: rgb(255, 255, 255); white-space: nowrap;
}
#subTabs div.subtab2 {
	background: url("../images/ur.gif") no-repeat left top; height: 4px;
}
#subTabs td {
	background: rgb(102, 153, 204); padding: 4px; color: rgb(203, 229, 255); white-space: nowrap;
}
#subTabs span.activeText {
	color: rgb(203, 229, 255); font-weight: bold; display: inline;
}
#subTabs span.inactiveText {
	margin: 0px 1px; color: rgb(255, 255, 255); display: inline;
}
#subTabs span.inactiveText a {
	color: rgb(255, 255, 255);
}
table.breadcrumbContainer {
	background: rgb(230, 243, 255); width: 100%;
}
table.breadcrumbContainer td {
	padding: 4px 4px 4px 8px;
}
#crumbs span.activeText {
	font-weight: bold;
}
.online {
	color: rgb(0, 0, 255); text-decoration: none;
}
.offline {
	color: rgb(255, 0, 0); text-decoration: none;
}
input.searchforum {
	color: rgb(0, 0, 0); font-size: 12px;
}
.formsearchforum {
	background-position: left 1px; font: 14px/normal Verdana, Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); padding-left: 25px; font-size-adjust: none; font-stretch: normal; background-image: url("../images/icon_watch_topic.gif"); background-repeat: no-repeat;
}
.formsearchforumcombo {
	background-position: left 1px; font: 12px/normal Verdana, Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); padding-left: 25px; font-size-adjust: none; font-stretch: normal; background-repeat: no-repeat;
}
#header {
	background: url("../images/header-background.png") repeat-x top rgb(51, 65, 93); padding: 0px 50px; height: 38px; border-bottom-color: rgb(161, 166, 177); border-bottom-width: 1px; border-bottom-style: solid; position: relative; z-index: 1;
}
#header div {
	margin: 0px auto; position: relative; max-width: 900px;
}
#header h1 {
	margin: 0px 720px 0px 0px;
}
#header h1 img {
	color: rgb(127, 124, 69); font-weight: bold;
}
#header ul {
	list-style: none; margin: 0px; padding: 0px; top: 0px; right: 0px; border-right-color: rgb(31, 38, 53); border-left-color: rgb(87, 97, 120); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; position: absolute;
}
* html #header ul {
	right: 50px;
}
#header li {
	font: 12px/normal Verdana, Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; color: rgb(0, 0, 0); float: left; font-size-adjust: none; font-stretch: normal;
}
#header ul span {
	padding: 10px 15px; height: 16px; color: rgb(222, 224, 229); text-decoration: none; border-right-color: rgb(87, 97, 120); border-left-color: rgb(31, 38, 53); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; float: left; display: block; voice-family: inherit;
}
#header ul a:link {
	padding: 10px 15px; height: 16px; color: rgb(222, 224, 229); text-decoration: none; border-right-color: rgb(87, 97, 120); border-left-color: rgb(31, 38, 53); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; float: left; display: block; voice-family: inherit;
}
#header ul a:visited {
	padding: 10px 15px; height: 16px; color: rgb(222, 224, 229); text-decoration: none; border-right-color: rgb(87, 97, 120); border-left-color: rgb(31, 38, 53); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; float: left; display: block; voice-family: inherit;
}
#ignored {
	
}
#header ul li span {
	background: rgb(71, 84, 112); color: rgb(255, 255, 255); text-decoration: underline;
}
#header ul li a.current {
	background: rgb(71, 84, 112); color: rgb(255, 255, 255); text-decoration: underline;
}
#header ul li a:hover {
	background: rgb(71, 84, 112); color: rgb(255, 255, 255); text-decoration: underline;
}
#header ul li span {
	text-decoration: none;
}
#header ul li a.current {
	text-decoration: none;
}
#footer {
	text-align: left; padding-right: 20px; clear: both; position: relative; min-height: 180px;
}
#footer dl {
	margin: 10px 0px 0px; padding: 1px 0px; width: 23.5%; border-right-color: rgb(221, 221, 221); border-right-width: 1px; border-right-style: solid; float: left; min-height: 160px;
}
#footer dd {
	margin: 0px; padding: 3px 10px; font-size: 85%;
}
#footer dt {
	padding: 0px 10px; letter-spacing: -0.02em; font-size: 105%; font-weight: bold;
}
#footer .footer-feature {
	top: 28px; right: 10px; position: absolute;
}
ul.menu {
	height: 20px;
}
ul.menu li {
	left: -40px; top: 15px; margin-left: 5px; float: left; position: relative;
}
h1 {
	margin: 0px; padding: 34px; font-size: large;
}
h2 {
	margin: 0px; padding: 10px; color: white; font-size: small; font-weight: normal; background-color: rgb(102, 153, 204);
}
.h2 {
	margin: 0px; padding: 10px; color: white; font-size: small; font-weight: normal; background-color: rgb(102, 153, 204);
}
#main {
	background: rgb(255, 255, 255); padding: 10px;
}
#main h1 {
	padding: 15px 10px 15px 0px;
}
#banner {
	padding: 0px; text-align: left; color: white; font-size: large; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(255, 255, 255);
}
#backnav {
	color: rgb(255, 255, 255); text-decoration: none;
}
#backnav:hover {
	color: rgb(255, 255, 255);
}
#abs {
	background: rgb(255, 255, 255); margin: 8px; padding: 5px; border-radius: 10px; top: 18px; text-align: center; right: 0px; position: absolute; moz-border-radius: 10px;
}
#cantoDireito {
	background: rgb(255, 255, 255); border-radius: 10px; right: 20px; bottom: -5px; color: rgb(0, 0, 0); position: absolute; moz-border-radius: 10px;
}
#submenu a {
	background: rgb(255, 255, 255); font-family: arial; text-decoration: none; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.submenuCurrent {
	background: rgb(255, 255, 170) !important;
}
.nobg {
	background: none !important; color: rgb(255, 255, 255) !important;
}
