.cse .gsc-control-cse {
	padding: 1em; width: auto;
}
.gsc-control-cse {
	padding: 1em; width: auto;
}
.cse .gsc-control-wrapper-cse {
	width: 100%;
}
.gsc-control-wrapper-cse {
	width: 100%;
}
.cse .gsc-branding {
	display: none;
}
.gsc-branding {
	display: none;
}
.cse .gsc-control-cse {
	border: 1px solid rgb(255, 255, 255); border-image: none; background-color: rgb(255, 255, 255);
}
.gsc-control-cse {
	border: 1px solid rgb(255, 255, 255); border-image: none; background-color: rgb(255, 255, 255);
}
.cse .gsc-control-cse::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.gsc-control-cse::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.cse .gsc-resultsHeader {
	
}
.gsc-resultsHeader {
	
}
table.gsc-search-box td.gsc-input {
	padding-right: 12px;
}
input.gsc-input {
	border-color: rgb(217, 217, 217); padding: 1px 6px; font-size: 13px;
}
.cse input.gsc-search-button {
	padding: 0px 8px; border-radius: 2px; border: 1px solid rgb(102, 102, 102); border-image: none; height: 20px; color: rgb(0, 0, 0); font-family: inherit; font-size: 11px; font-weight: bold; min-width: 54px; background-color: rgb(206, 206, 206); -moz-border-radius: 2px; -webkit-border-radius: 2px;
}
input.gsc-search-button {
	padding: 0px 8px; border-radius: 2px; border: 1px solid rgb(102, 102, 102); border-image: none; height: 20px; color: rgb(0, 0, 0); font-family: inherit; font-size: 11px; font-weight: bold; min-width: 54px; background-color: rgb(206, 206, 206); -moz-border-radius: 2px; -webkit-border-radius: 2px;
}
.cse .gsc-tabhInactive.gsc-tabHeader {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(233, 233, 233) rgb(233, 233, 233) currentColor; border-image: none; color: rgb(102, 102, 102); background-color: rgb(233, 233, 233);
}
.gsc-tabhInactive.gsc-tabHeader {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(233, 233, 233) rgb(233, 233, 233) currentColor; border-image: none; color: rgb(102, 102, 102); background-color: rgb(233, 233, 233);
}
.cse .gsc-tabhActive.gsc-tabHeader {
	border-width: 2px 1px medium; border-style: solid solid none; border-color: rgb(255, 153, 0) rgb(233, 233, 233) currentColor; border-image: none; background-color: rgb(255, 255, 255);
}
.gsc-tabhActive.gsc-tabHeader {
	border-width: 2px 1px medium; border-style: solid solid none; border-color: rgb(255, 153, 0) rgb(233, 233, 233) currentColor; border-image: none; background-color: rgb(255, 255, 255);
}
.cse .gsc-tabsArea {
	margin-top: 1em; border-bottom-color: rgb(233, 233, 233); border-bottom-width: 1px; border-bottom-style: solid;
}
.gsc-tabsArea {
	margin-top: 1em; border-bottom-color: rgb(233, 233, 233); border-bottom-width: 1px; border-bottom-style: solid;
}
.cse .gsc-result.gsc-webResult {
	padding: 0.25em; border: 1px solid rgb(255, 255, 255); border-image: none; margin-bottom: 1em;
}
.gsc-result.gsc-webResult {
	padding: 0.25em; border: 1px solid rgb(255, 255, 255); border-image: none; margin-bottom: 1em;
}
.gsc-imageResult-column {
	padding: 0.25em; border: 1px solid rgb(255, 255, 255); border-image: none; margin-bottom: 1em;
}
.gsc-imageResult-classic {
	padding: 0.25em; border: 1px solid rgb(255, 255, 255); border-image: none; margin-bottom: 1em;
}
.cse .gsc-result.gsc-webResult:hover {
	border: 1px solid rgb(255, 255, 255); border-image: none;
}
.gsc-result.gsc-webResult:hover {
	border: 1px solid rgb(255, 255, 255); border-image: none;
}
.gsc-promotion.gsc-result.gsc-webResult:hover {
	border: 1px solid rgb(255, 255, 255); border-image: none;
}
.gsc-results .gsc-imageResult-classic:hover {
	border: 1px solid rgb(255, 255, 255); border-image: none;
}
.gsc-results .gsc-imageResult-column:hover {
	border: 1px solid rgb(255, 255, 255); border-image: none;
}
.cse .gsc-promotion.gsc-result.gsc-webResult {
	border-color: rgb(51, 102, 153); background-color: rgb(255, 255, 255);
}
.gsc-promotion.gsc-result.gsc-webResult {
	border-color: rgb(51, 102, 153); background-color: rgb(255, 255, 255);
}
.cse .gs-promotion a.gs-title:link {
	color: rgb(0, 0, 204);
}
.gs-promotion a.gs-title:link {
	color: rgb(0, 0, 204);
}
.cse .gs-promotion a.gs-title:link * {
	color: rgb(0, 0, 204);
}
.gs-promotion a.gs-title:link * {
	color: rgb(0, 0, 204);
}
.cse .gs-promotion .gs-snippet a:link {
	color: rgb(0, 0, 204);
}
.gs-promotion .gs-snippet a:link {
	color: rgb(0, 0, 204);
}
.cse .gs-promotion a.gs-title:visited {
	color: rgb(0, 0, 204);
}
.gs-promotion a.gs-title:visited {
	color: rgb(0, 0, 204);
}
.cse .gs-promotion a.gs-title:visited * {
	color: rgb(0, 0, 204);
}
.gs-promotion a.gs-title:visited * {
	color: rgb(0, 0, 204);
}
.cse .gs-promotion .gs-snippet a:visited {
	color: rgb(0, 0, 204);
}
.gs-promotion .gs-snippet a:visited {
	color: rgb(0, 0, 204);
}
.cse .gs-promotion a.gs-title:hover {
	color: rgb(0, 0, 204);
}
.gs-promotion a.gs-title:hover {
	color: rgb(0, 0, 204);
}
.cse .gs-promotion a.gs-title:hover * {
	color: rgb(0, 0, 204);
}
.gs-promotion a.gs-title:hover * {
	color: rgb(0, 0, 204);
}
.cse .gs-promotion .gs-snippet a:hover {
	color: rgb(0, 0, 204);
}
.gs-promotion .gs-snippet a:hover {
	color: rgb(0, 0, 204);
}
.cse .gs-promotion a.gs-title:active {
	color: rgb(0, 0, 204);
}
.gs-promotion a.gs-title:active {
	color: rgb(0, 0, 204);
}
.cse .gs-promotion a.gs-title:active * {
	color: rgb(0, 0, 204);
}
.gs-promotion a.gs-title:active * {
	color: rgb(0, 0, 204);
}
.cse .gs-promotion .gs-snippet a:active {
	color: rgb(0, 0, 204);
}
.gs-promotion .gs-snippet a:active {
	color: rgb(0, 0, 204);
}
.cse .gs-promotion .gs-snippet {
	color: rgb(0, 0, 0);
}
.gs-promotion .gs-snippet {
	color: rgb(0, 0, 0);
}
.cse .gs-promotion .gs-title .gs-promotion-title-right {
	color: rgb(0, 0, 0);
}
.gs-promotion .gs-title .gs-promotion-title-right {
	color: rgb(0, 0, 0);
}
.cse .gs-promotion .gs-title .gs-promotion-title-right * {
	color: rgb(0, 0, 0);
}
.gs-promotion .gs-title .gs-promotion-title-right * {
	color: rgb(0, 0, 0);
}
.cse .gs-promotion .gs-visibleUrl {
	color: rgb(0, 128, 0);
}
.gs-promotion .gs-visibleUrl {
	color: rgb(0, 128, 0);
}
.gsc-completion-selected {
	background: rgb(238, 238, 238);
}
.gsc-completion-container {
	background: white; border-width: 1px; border-style: solid; border-color: rgb(217, 217, 217) rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; font-family: Arial, sans-serif; font-size: 13px; margin-right: 0px; margin-left: 0px;
}
.gsc-completion-title {
	color: rgb(0, 0, 204);
}
.gsc-completion-snippet {
	color: rgb(0, 0, 0);
}
.gs-webResult div.gs-visibleUrl-short {
	display: none;
}
.gs-promotion div.gs-visibleUrl-short {
	display: none;
}
.gs-webResult div.gs-visibleUrl-long {
	display: block;
}
.gs-promotion div.gs-visibleUrl-long {
	display: block;
}
.gsc-context-box {
	font-size: 83%; margin-top: 3px; border-collapse: collapse;
}
.gsc-context-box .gsc-col {
	padding: 1px 0px; vertical-align: middle; white-space: nowrap;
}
.gsc-context-box .gsc-facet-label {
	width: 65px; color: rgb(17, 85, 204); padding-left: 2px; text-decoration: underline; cursor: pointer;
}
.gsc-context-box .gsc-chart {
	padding: 3px; width: 32em; border-right-color: rgb(106, 156, 243); border-left-color: rgb(106, 156, 243); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
.gsc-context-box .gsc-top {
	border-top-color: rgb(106, 156, 243); border-top-width: 1px; border-top-style: solid;
}
.gsc-context-box .gsc-bottom {
	border-bottom-color: rgb(106, 156, 243); border-bottom-width: 1px; border-bottom-style: solid;
}
.gsc-context-box .gsc-chart div {
	background: rgb(106, 156, 243); height: 9px;
}
.gsc-context-box .gsc-facet-result {
	width: 30px; text-align: right; color: rgb(17, 85, 204); padding-right: 5px;
}
.gsc-usr-group-thumbnail {
	display: inline-block; max-height: 72px; max-width: 72px;
}
.gsc-usr-group-thumbnail img {
	overflow: hidden; max-height: 72px;
}
.gs-webResult .gs-title .gsc-usr-group-heading.gs-title {
	color: rgb(17, 85, 204); cursor: pointer;
}
.gsc-usr-group {
	line-height: 1.24; margin-top: -7px; margin-bottom: -7px; margin-left: 20px; display: block; -ms-zoom: 1; min-height: 100px;
}
.gsc-usr-group-content {
	padding-top: 1px; padding-bottom: 3px;
}
.gsc-usr-group-content-thumbnail {
	vertical-align: top; display: inline-block;
}
.gsc-usr-group-head-result {
	padding-left: 6px; display: inline-block;
}
.gsc-usr-group-snippet {
	width: 100%; height: 3.6em; overflow: hidden;
}
.gsc-usr-group-content-results {
	width: 80%; padding-top: 7px; padding-left: 1px; font-size: 12px;
}
.gsc-usr-group-head-results {
	width: 80%; padding-left: 6px; font-size: 13px; display: inline-block;
}
.gs-webResult .gs-title .gsc-usr-group-all-results.gs-title {
	line-height: 10px; font-size: 11px;
}
.gs-webResult .gs-title .gsc-usr-group-all-results.gs-title b {
	font-size: 14px; font-weight: 600;
}
.gs-webResult .gs-title .gsc-usr-group-heading.gs-title b {
	color: rgb(17, 85, 204);
}
