.clear {
	clear: both;
}
#content {
	padding: 15px 4px 40px; width: 100%; float: left;
}
#content p {
	margin: -8px 0px 15px; line-height: 1.7em; font-size: 1.5em;
}
#content ol {
	margin: 0px 0px 0px 20px; line-height: 1.7em; font-size: 1.5em;
}
#content ul {
	margin: 0px 0px 0px 20px; line-height: 1.7em; font-size: 1.5em;
}
#content ol ol {
	font-size: 1em;
}
#content ul ul {
	font-size: 1em;
}
#content ol li {
	list-style: decimal;
}
#content .post_nav {
	width: 13em;
}
#content .entry {
	padding-bottom: 10px; margin-bottom: 30px; border-bottom-color: rgb(219, 219, 219); border-bottom-width: 1px; border-bottom-style: solid;
}
#content .single_entry {
	padding-bottom: 10px;
}
#content .entry_meta ul {
	margin: 0px; padding: 0px; line-height: 1em; font-size: 1em; display: inline;
}
#content .single_meta li {
	background: none; padding-left: 0px; display: inline;
}
#content .single_author {
	width: 200px; margin-left: 10px; float: left;
}
#content #comments {
	background: rgb(241, 243, 243); padding: 30px; border-top-color: rgb(221, 224, 224); border-bottom-color: rgb(221, 224, 224); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
#content #comments ol.comment_list {
	margin: 0px; padding: 0px; line-height: 1; font-size: 100%;
}
#content #comments ol.comment_list li {
	list-style: none;
}
#content #comments .comment_author {
	margin: 0px 30px 30px 0px; width: 100px; padding-top: 1px; vertical-align: top; display: inline-block;
}
#content #comments .comment_author p {
	color: rgb(95, 101, 101); line-height: 1em; font-size: 1.3em; margin-top: 10px; margin-bottom: 0px;
}
#content #comments .single_comment {
	background: rgb(255, 255, 255); padding: 10px 20px; border: 1px solid rgb(224, 229, 229); border-image: none; width: 83%; margin-bottom: 30px; display: inline-block; position: relative;
}
#content .comment_list {
	padding-bottom: 40px;
}
#content .comment_arrow {
	left: -32px; top: 10px; position: absolute;
}
#content #comments .single_comment p {
	text-align: left; line-height: 1.5em; font-size: 1.3em; margin-bottom: 10px;
}
#content #comments .comment_author span {
	
}
#content .aligncenter {
	margin-right: auto; margin-left: auto; display: block;
}
#content div.aligncenter {
	margin-right: auto; margin-left: auto; display: block;
}
#content .alignleft {
	padding: 10px 20px 20px 0px; float: left;
}
#content .alignright {
	padding: 10px 0px 20px 20px; float: right;
}
.codeprettyprint {
	border-bottom-color: rgb(219, 219, 219); border-bottom-width: 1px; border-bottom-style: solid;
}
blockquote {
	margin: 15px 30px 0px 10px; padding-left: 20px; border-left-color: rgb(221, 221, 221); border-left-width: 5px; border-left-style: solid;
}
small {
	color: rgb(119, 119, 119);
}
#sidebar ul ul li {
	color: rgb(119, 119, 119);
}
#sidebar ul ol li {
	color: rgb(119, 119, 119);
}
.nocomments {
	color: rgb(119, 119, 119);
}
.postmetadata {
	color: rgb(119, 119, 119);
}
blockquote {
	color: rgb(119, 119, 119);
}
strike {
	color: rgb(119, 119, 119);
}
.term {
	text-align: left;
}
.definition {
	text-align: left;
}
li {
	list-style: none;
}
.linksRel {
	padding: 10px; font-size: large;
}
.bannernoticias {
	background: rgb(255, 255, 255); border-radius: 5px; width: 96%; margin-top: 15px; display: table; box-shadow: 1px 1px 5px 2px #cacaca; -moz-border-radius: 5px; -moz-box-shadow: 1px 0px 5px 2px #CACACA;
}
