.bannernoticias {
	background: rgb(255, 255, 255); border-radius: 5px; width: 100%; margin-top: 15px; display: block; box-shadow: 1px 1px 5px 2px #cacaca; -moz-border-radius: 5px; -moz-box-shadow: 1px 0px 5px 2px #CACACA;
}
pre {
	font-family: Verdana; font-size: 12px;
}
