.dp-highlighter {
	margin: 18px 0px !important; padding-top: 1px; font-family: "Consolas", "Courier New", Courier, mono, serif; font-size: 12px; -ms-word-wrap: break-word; background-color: rgb(231, 229, 220);
}
.dp-highlighter ol {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
.dp-highlighter ol li {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
.dp-highlighter ol li span {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
.dp-highlighter a {
	background: none; margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
.dp-highlighter a:hover {
	background: none; margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
.dp-highlighter .bar {
	padding-left: 45px;
}
.collapsed.dp-highlighter .bar {
	padding-left: 0px;
}
.nogutter.dp-highlighter .bar {
	padding-left: 0px;
}
.dp-highlighter ol {
	list-style: decimal; margin: 0px 0px 1px 45px !important; padding: 0px; color: rgb(92, 92, 92); background-color: rgb(255, 255, 255);
}
.nogutter.dp-highlighter ol {
	list-style: none !important; margin-left: 0px !important;
}
.nogutter.dp-highlighter ol li {
	list-style: none !important; margin-left: 0px !important;
}
.dp-highlighter ol li {
	margin: 0px !important; padding: 0px 3px 0px 10px !important; color: rgb(92, 92, 92); line-height: 14px; border-left-color: rgb(108, 226, 108); border-left-width: 3px; border-left-style: solid; list-style-type: decimal-leading-zero; list-style-position: outside !important; list-style-image: none; background-color: rgb(248, 248, 248);
}
.dp-highlighter .columns div {
	margin: 0px !important; padding: 0px 3px 0px 10px !important; color: rgb(92, 92, 92); line-height: 14px; border-left-color: rgb(108, 226, 108); border-left-width: 3px; border-left-style: solid; list-style-type: decimal-leading-zero; list-style-position: outside !important; list-style-image: none; background-color: rgb(248, 248, 248);
}
.nogutter.dp-highlighter ol li {
	border: 0px currentColor; border-image: none;
}
.nogutter.dp-highlighter .columns div {
	border: 0px currentColor; border-image: none;
}
.dp-highlighter .columns {
	width: 100%; color: gray; overflow: hidden; background-color: rgb(248, 248, 248);
}
.dp-highlighter .columns div {
	padding-bottom: 5px;
}
.dp-highlighter ol li.alt {
	color: inherit; background-color: rgb(255, 255, 255);
}
.dp-highlighter ol li span {
	color: black; background-color: inherit;
}
.collapsed.dp-highlighter ol {
	margin: 0px;
}
.collapsed.dp-highlighter ol li {
	display: none;
}
.printing.dp-highlighter {
	border: currentColor; border-image: none;
}
.printing.dp-highlighter .tools {
	display: none !important;
}
.printing.dp-highlighter li {
	display: list-item !important;
}
.dp-highlighter .tools {
	font: 9px/normal Verdana, Geneva, Arial, Helvetica, sans-serif; padding: 3px 8px 10px 10px; color: silver; border-left-color: rgb(108, 226, 108); border-left-width: 3px; border-left-style: solid; font-size-adjust: none; font-stretch: normal; background-color: rgb(248, 248, 248);
}
.nogutter.dp-highlighter .tools {
	border-left-color: currentColor; border-left-width: 0px; border-left-style: none;
}
.collapsed.dp-highlighter .tools {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.dp-highlighter .tools a {
	color: rgb(160, 160, 160); font-size: 9px; text-decoration: none; margin-right: 10px; background-color: inherit;
}
.dp-highlighter .tools a:hover {
	color: red; text-decoration: underline; background-color: inherit;
}
.dp-about {
	margin: 0px; padding: 0px; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255);
}
.dp-about table {
	width: 100%; height: 100%; font-family: Tahoma, Verdana, Arial, sans-serif !important; font-size: 11px;
}
.dp-about td {
	padding: 10px; vertical-align: top;
}
.dp-about .copy {
	height: 95%; border-bottom-color: rgb(172, 168, 153); border-bottom-width: 1px; border-bottom-style: solid;
}
.dp-about .title {
	color: red; font-weight: bold; background-color: inherit;
}
.dp-about .para {
	margin: 0px 0px 4px;
}
.dp-about .footer {
	text-align: right; color: rgb(51, 51, 51); border-top-color: rgb(255, 255, 255); border-top-width: 1px; border-top-style: solid; background-color: rgb(236, 234, 219);
}
.dp-about .close {
	width: 60px; height: 22px; color: rgb(51, 51, 51); font-family: Tahoma, Verdana, Arial, sans-serif !important; font-size: 11px; background-color: rgb(236, 234, 219);
}
.dp-highlighter .comment {
	color: rgb(0, 130, 0); background-color: inherit;
}
.dp-highlighter .comments {
	color: rgb(0, 130, 0); background-color: inherit;
}
.dp-highlighter .string {
	color: blue; background-color: inherit;
}
.dp-highlighter .keyword {
	color: rgb(0, 102, 153); font-weight: bold; background-color: inherit;
}
.dp-highlighter .preprocessor {
	color: gray; background-color: inherit;
}
